*{
  padding:0;
  margin:0;
}


.weather-form{
  display:flex;
  flex-direction:row;
  border:1px solid #000;
  width: 50%;
  margin: 0 auto;
}

.city-search-input {
  border-radius: 22px;
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
  padding:10px;
}

.city-search-input:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
form:focus-within { 
  outline: 1px solid #337cb4; 
}


.get-weather-button {
 padding: 10px;
 margin: 0;
 outline: none;
 border:none;
 background-color: #337cb4;
}

.weather-city{
  color:#337cb4;
  font-size: 26px;
}

@media screen and (max-width:580px) {
  
  .weather-form{
    display:flex;
    flex-direction:row;
    border:1px solid #000;
    width: 100%;
    margin: 0 auto;
  }
}