*{
  padding:0;
  margin:0;
}


.weather-form{
  display:flex;
  flex-direction:row;
  border:1px solid #000;
  width: 50%;
  margin: 0 auto;
}

.city-search-input {
  border-radius: 22px;
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
  padding:10px;
}

.city-search-input:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
form:focus-within { 
  outline: 1px solid #337cb4; 
}


.get-weather-button {
 padding: 10px;
 margin: 0;
 outline: none;
 border:none;
 background-color: #337cb4;
}


.moving-background-dark {
  background: linear-gradient(270deg, #626565, #090a0a);
  background-size: 400% 400%;

  -webkit-animation: AnimationDark 30s ease infinite;
  -moz-animation: AnimationDark 30s ease infinite;
  animation: AnimationDark 30s ease infinite;
}

.moving-background-light {
  background: linear-gradient(270deg, #b8c5c8, #5b91e6);
  background-size: 400% 400%;

  -webkit-animation: AnimationLight 30s ease infinite;
  -moz-animation: AnimationLight 30s ease infinite;
  animation: AnimationLight 30s ease infinite;
}

@keyframes AnimationDark {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes AnimationLight {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.weather-city{
  color:#fff;
  font-size: 30px;
  padding: 10px 20px;
  text-align: left;
}

.card{
  background-color: #6699CC;
  display: flex;
  flex-direction: column;
  width:50%;
  margin: 0 auto;
  text-align: center;
}

.temperature-info{
font-size: 80px;
padding: 3px 20px;
}

.card-image{
  height:150px;
  width:150px;
}

.broken-clouds{
  height:150px;
  width:180px;
}

.feels-like-info{
  font-size: 40px;
  text-align: left;
  padding: 5px 20px;
  }

.temp-info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  .humidity-info{
    font-size: 40px;
    text-align: left;
    padding: 5px 20px;
    }
  
    .pressure-info{
      font-size: 40px;
      text-align: left;
      padding: 5px 20px;
      }
  
      .wind-speed-info{
        font-size: 40px;
        text-align: left;
        padding: 5px 20px;
        }
      

.sky-info{
  font-size: 40px;
  text-transform: capitalize;
  text-align: left;
  padding: 3px 20px;
}

.time-date-data{
  color:#f5f3f3;
}

@media screen and (max-width:580px) {
  
  .weather-form{
    display:flex;
    flex-direction:row;
    border:1px solid #000;
    width: 100%;
    margin: 0 auto;
  }
}